
.main-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.main-login-container form{
    position: absolute;
    padding: 50px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#login-header{
    color: rgb(231, 233, 234); 
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.login-class{
    position: relative;
    widows: 300px;
    margin-top: 35px;
}

.login-class input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color:  rgb(231, 233, 234); 
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;

}

.login-class input::placeholder{
    letter-spacing: 0.15em;
    transition: 0.5s;
}
.login-class i{
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 3px;
    width: 100%;
    height: 2px;
    background-color: rgb(231, 233, 234);
    transition: 0.5s;
}

.login-class input:focus ~i{
    height: 44px;
}
.login-class input:focus{
    color: black;
}
#forgot-passwd{
    margin: 10px 0;
}
#forgot-passwd a{
    font-size: 0.70em;
    text-decoration: none;
    color: #93938c;
}
#login-submit{
    border: none;
    outline: none;
    padding: 9px;
    font-size: 1em;
    border-radius: 10px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    background-color: rgb(231, 233, 234);
}
.login-error-message {
    min-height: 34.4px;
    max-width: 214.4px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin-top: 5px;
    text-align: center;
    color: rgb(174, 33, 33);
    display: inline-block;
}