.main {
    height: inherit;
    width: 100%;
    padding: 10px,0,10px,0;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction:column;
    
}
/*SEND POST*/
.send-post-form{
    width: 35%;
    height: 25vh;
    margin-top: 20px;
    background-color: rgb(28, 28, 28);
    border-radius: 15px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#post-message {
    background-color: rgb(36, 36, 36);
    color: rgb(231, 233, 234);
    padding: 60px;
    padding-bottom: 50px;
    border: none;
    resize: none;
    width: 100%;
    height: 25vh;
    border-radius: 15px;
    font-size: 13px;
    line-height: 1.4;
    white-space: pre-line;
}

#post-message::-webkit-scrollbar {
    display: none;
}


#send-post-button {
    position: absolute;
    right: -40px;
    bottom: -30px;
    background: none;
    border: none;
    cursor: pointer;
}

#send-post-button i {
    font-size: 24px;
    color: rgb(231, 233, 234);
}

/*SEND RESPOND*/
.send-respond-form {
    margin-left: 175px;
    width: 75vh;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#respond-message {
    background-color: rgb(36, 36, 36);
    color: rgb(231, 233, 234);
    margin-top: 15px;
    padding: 30px;
    padding-right: 50px;
    border: none;
    resize: none;
    width: calc(100% - 80px);
    height: 10vh;
    border-radius: 15px;
    font-size: 13px;
    line-height: 1.4;
    white-space: pre-line;
    position: relative;
}

#respond-message::-webkit-scrollbar {
    display: none;
}


#send-respond-button {
    position: absolute;
    right: 10px;
    bottom: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
#send-respond-button i {
    font-size: 24px;
    color: rgb(231, 233, 234);
}





.display-post{
    width:75vh;
    padding-top:60px;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.radio-button-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    z-index: 0;
    width:50px;
    height:15px;
    background-color: rgb(36, 36, 36);
}
.radio-button-label{
    position:relative;
}

span.label-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    color: rgb(100,100,100);
    font-size: 14px;
    padding-bottom: 5px;
    transition: color 0.5s;
    cursor: pointer;
}
.radio-button-label:hover span.label-text {
    transition: 0.5s;
    color: rgb(231, 233, 234);
}
.radio-button-style:checked + span.label-text{
    transition: 0.5s;
    color: rgb(231, 233, 234);
}

.search-container {
    margin-left: 80px;


}
#search-input {
    background-color: rgb(36, 36, 36);
    border: none;
    width: 100px;
    padding: 5px;
    border-radius:10px;
    color: rgb(231, 233, 234);
}

.search-button {
    position:absolute;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.search-button i {
    font-size: 24px;
    color: rgb(231, 233, 234);
}
.filters {
    margin-top: 20px;
    display: flex;
    position: relative;
}

.display-post-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:center;
    max-width:100%;
}

/*POST*/
.single-post-display {
    width: 75%;
    height: auto;
    margin-top: 20px;
    background-color: rgb(28, 28, 28);
    border-radius: 15px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.single-post-display .post-username {
    color: rgb(231, 233, 234);
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 15px;
}

.single-post-display .post-content {
    color: rgb(231, 233, 234);
    text-align: center;
    padding:20px;
    word-break:break-all;

}

.single-post-display .post-creation-date {
    color: rgb(100,100, 100);
    margin-right:10px;
    font-size:10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
}

.single-post-display .post-upvote-checkbox {
    color: rgb(231, 233, 234);
    background-color: transparent;
    border:none;
    margin-top:7px;
    margin-right:8px;
    padding:0;
    position: absolute;
    top: 0;
    right: 0;
    opacity:0;
    z-index:1;
    width:25px;
    height:25px
    
    
}
.post-upvote-checkbox{
    cursor:pointer;
}
#post-upvote-favorite {
    color: rgb(231, 233, 234);
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: color 0.4s;
}

.single-post-display .post-upvote-checkbox:checked + #post-upvote-favorite {
    transition: 0.4s;
    color: orangered;
}
.single-post-display .post-upvote-count{
    color:orangered;
    position:absolute;
    margin-top:14px;
    margin-right:50px;
    top:0;
    right:0;
}



/*RESPOND*/

.single-respond-display {
    margin-left:175px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.single-respond-display .respond-username {
    color: rgb(231, 233, 234);
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 15px;
}

.single-respond-display .respond-content {
    color: rgb(231, 233, 234);
    text-align: center;
    padding: 20px;
    word-break: break-all;
}

.single-respond-display .respond-creation-date {
    color: rgb(100,100, 100);
    margin-right: 10px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
}

.single-respond-display .respond-upvote-checkbox {
    color: rgb(231, 233, 234);
    background-color: transparent;
    border: none;
    margin-top: 7px;
    margin-right: 8px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    width: 25px;
    height: 25px
}

.respond-upvote-checkbox {
    cursor: pointer;
}

#respond-upvote-favorite {
    color: rgb(231, 233, 234);
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: color 0.4s;
}

.single-respond-display .respond-upvote-checkbox:checked + #respond-upvote-favorite {
    transition: 0.4s;
    color: orangered;
}

.single-respond-display .respond-upvote-count {
    color: orangered;
    position: absolute;
    margin-top: 14px;
    margin-right: 50px;
    top: 0;
    right: 0;
}