@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    <div class="send-post-form">
        <form action="POST">
            <textarea id="post-message" placeholder="Create a new post..."></textarea>
            <button type="submit" id="send-post-button" value="x">
                <i class="material-icons">send</i>
            </button>
        </form>
    </div>

}